* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* LOGO */
.logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  
  .logo-wrapper img {
    width: 200px;        /* bisa kamu ubah */
    height: auto;
    object-fit: contain;
  }
  
  body {
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: #ffffff;
  }
  
  /* SECTION */
  .profile-section {
    padding: 80px 60px;
  }
  
  /* JUDUL */
  .section-title {
    text-align: center;
    margin-bottom: 60px;
  }
  
  .section-title h4 {
    font-size: 20px;
    opacity: 0.8;
  }
  
  .section-title h1 {
    font-size: 48px;
    font-weight: bold;
  }
  
  /* TEAM */
  .team-wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 80px;
  }
  
  .team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team-card img {
    width: 200px;
    height: auto;
    border-radius: 18px;
    background: #dc2626;
    padding: 12px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.6);
  }
  
  .team-name {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  
  /* CERTIFICATES */
  .certificate-section {
    max-width: 900px;
    margin: auto;
  }
  
  .certificate-section h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
  }
  
  .certificate-stack {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
  }
  
  .certificate-stack img {
    width: 100%;
    max-width: 760px;
    border-radius: 16px;
    padding: 14px;
    background: #020617;
    box-shadow: 0 25px 60px rgba(0,0,0,0.7);
    transition: transform 0.3s ease;
  }
  
  .certificate-stack img:hover {
    transform: scale(1.03);
  }
  